.search-field:focus-within svg {
  color: #5E8F8C;
}
.search-field input:focus {
  box-shadow: 0 0 0 3px rgba(118, 167, 164, 0.4);
  border-color: #76A7A4;
}

.auth-buttons a:hover {
  opacity: 0.9;
}
