<div class="comments-section mt-5">
  <div class="comment-field flex-grow flex items-center justify-center  min-w-[150px] sm:min-w-[200px] md:min-w-[300px] relative mb-5">
    @if (!authService.isLoggedIn()) {
      <div
        (click)="openSnackBar('Please login first to post a comment')"
        class="absolute inset-0 cursor-pointer z-10 rounded-full"
      ></div>
    }
    @if (!currentlyTyping) {
      <input (click)="startTyping()" type="text" id="comment" placeholder="Type a comment" [disabled]="!authService.isLoggedIn()"
      class="w-full pl-10 pr-4 py-1 border-2 border-[#fff1dc] bg-[#f6edd9] rounded-full focus:outline-none transition-all duration-300">
    }@else {
      <div class="w-full flex flex-col">
        <textarea 
         id="typingComment" 
         [formControl]="commentControl"
         placeholder="Write a comment..."
         class="w-full px-4 py-1 border-2 border-[#fff1dc] bg-[#f6edd9] rounded-xl outline-none resize-none focus:border-[#76a7a4] focus:ring-[#76a7a4]"></textarea>
         @if (commentControl.invalid && commentControl.touched) {
          <p class="text-[#FF0000]">Comment cannot be empty</p>
         }
        <div class="action-buttons self-end flex gap-2 mt-1">
          <button (click)="cancelTyping()"  class="max-w-fit bg-gray-200 text-black p-2 rounded-full">Cancel</button>
          <button (click)="sendComment()" [disabled]="commentControl.invalid" class="max-w-fit bg-[#5E8F8C] text-white p-2 rounded-full">Send</button>
        </div>
      </div>
    }
    
  </div>

  <div class="comments flex flex-col gap-5">
    @for (comment of comments; track $index) {
      <div class="comment p-1">
          <div class="info-container flex content-center">
            <div class="user-info flex gap-1">
                <div class="img-holder size-7 rounded-full bg-[red]"></div>
                <p class="text-xs content-center">{{comment.creatorName}}</p>
            </div>
            <span class="px-1 self-center">-</span>
            <p class="time text-xs text-gray content-center">{{comment.created_at | timeAgo}}</p>
          </div>
          <div class="post-content text-sm opacity-75 p-3">{{comment.text}}</div>
      </div>
    }
  </div>
</div>