
.post-buttons {

  &::after{
    content: "";
    display: block;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -0.7rem;
    background-color: #4d6c6a1a;
  }
}

.likes-icon {

  &.like:hover path {
    stroke: #5abe5ad5;
  }
  &.dislike:hover path {
    stroke: #ff8888b7;
  }
}

.comment-field input:focus {
  box-shadow: 0 0 0 3px rgba(118, 167, 164, 0.4);
  border-color: #76A7A4;
}