:root{
  --main-background-color:#fcf5e4;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--main-background-color);
}

.main-background-color{
  background-color: var(--main-background-color);
}

a{
  cursor: pointer;
}

html, body { height: 100%; }
